# Clion Project
.idea
cmake-build-debug

# Build Dir
build

# Executables
vaccineMonitor
travelMonitor
monitor

./build
*.exe
*.out

# Object
*.o

# Libraries
*.lib
*.a
*.la
*.lo

# Test Files
input.txt
input_dir
records.txt

#Log files
log_file.*
